@tailwind base;
@tailwind components;
@tailwind utilities;

.cs-button--attachment{
    display: none !important;
}

.cs-message-input__attachment-button {
  display: none !important;
}

.cs-message-input__content-editor-wrapper {
    margin-left: 4px !important
}